.data{
    background-color: darkslategrey;
    border-left-width: 3px;
    border-left-color: darkturquoise;
    border-radius: 20px;
    padding: 20px;
    
    margin-bottom: 20px;
    font-style: normal;
    color: cornsilk;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#UI{
    margin-top: 20px;
    margin-left: 20px;
    position:absolute;
    margin-right: 80%;
}
canvas {
     width: 100%; height: 100% }